body{
	text-align:center;
	font-size:40px;
	background-color:rgb(150,150,150);
}

button{
	width:80%;
	height:15%;
	font-size:50px;
	border-radius:25px;
	background-color:rgb(00,100,150);
	color:rgb(250,150,0);
	margin-top:1%;
}
